<div id="container" class="containerFornecedor">
    <div class="container1Fornecedor">
        <div>
            <button class="btnFornecedor">
                Novo
            </button>
        </div>
    </div>
    <div class="container2Fornecedor">
        <table class="TableContainerFornecedora">
            <thead class="theadFornecedor">
            <tha>
                Código
            </tha>
            <tha>
                Descrição
            </tha>
            <tha>
                Opções
            </tha>
            </thead>
            <tbody>
           
                @foreach (var item in ViewBag.Fornecedors)
                {
                    <tr>
                        <td class="tdFornecedor">@item.codigo</td>
                        <td class="tdFornecedor">@item.descricao</td>
                        <td class="tdFornecedor">
                            <div class="IconesContainerFornecedor">
                                <img class="iconelixo" src="imagens/trash-solid.svg"/>
                                <div class="Icone2Fornecedor">
                                </div>
                            </div>
                        </td>
                    </tr>
               
                }
            </tbody>

        
        </table>
    </div>
    <div class="container3Fornecedor">
        <div>
            <button class="btnCategoria BtnAzulColorFornecedor">
                Voltar
            </button>
        </div>
    </div>
</div>

