<div id="container" class="containerSaida">
    <div class="container1Saida">
        <div>
            <button class="btnSaida">
                Novo
            </button>
        </div>
    </div>
    <div class="container2Saida">
        <table class="TableContainerSaida">
            <thead class="theadSaidaa">
            <tha>
                Código
            </tha>
            <tha>
                Descrição
            </tha>
            <tha>
                Opções
            </tha>
            </thead>
            <tbody>
           
                @foreach (var item in ViewBag.Saidas)
                {
                    <tr>
                        <td class="tdSaida">@item.codigo</td>
                        <td class="tdSaida">@item.descricao</td>
                        <td class="tdSaida">
                            <div class="IconesContainerSaida">
                                <img class="iconelixo" src="imagens/trash-solid.svg"/>
                                <div class="Icone2Saida">
                                </div>
                            </div>
                        </td>
                    </tr>
               
                }
            </tbody>

        
        </table>
    </div>
    <div class="container3Saida">
        <div>
            <button class="btnSaida BtnAzulColorSaida">
                Voltar
            </button>
        </div>
    </div>
</div>

