<div id="container" class="containerEntrada">
    <div class="container1Entrada">
        <div>
            <button class="btnEntradaa">
                Novo
            </button>
        </div>
    </div>
    <div class="container2Entrada">
        <table class="TableContainerEntrada">
            <thead class="theadEntrada">
            <tha>
                Código
            </tha>
            <tha>
                Descrição
            </tha>
            <tha>
                Opções
            </tha>
            </thead>
            <tbody>
           
                @foreach (var item in ViewBag.Entradas)
                {
                    <tr>
                        <td class="tdEntrada">@item.codigo</td>
                        <td class="tdEntrada">@item.descricao</td>
                        <td class="tdEntradaa">
                            <div class="IconesContainerEntrada">
                                <img class="iconelixo" src="imagens/trash-solid.svg"/>
                                <div class="Icone2Entradaa">
                                </div>
                            </div>
                        </td>
                    </tr>
               
                }
            </tbody>

        
        </table>
    </div>
    <div class="container3Entrada">
        <div>
            <button class="btnEntrada BtnAzulColorEntrada">
                Voltar
            </button>
        </div>
    </div>
</div>

