<div id="container" class="containerSecretaria">
    <div class="container1Secretaria">
        <div>
            <button class="btnSecretaria">
                Novo
            </button>
        </div>
    </div>
    <div class="container2Secretaria">
        <table class="TableContainerSecretaria">
            <thead class="theadSecretaria">
            <tha>
                Código
            </tha>
            <tha>
                Descrição
            </tha>
            <tha>
                Opções
            </tha>
            </thead>
            <tbody>
           
                @foreach (var item in ViewBag.Secretarias)
                {
                    <tr>
                        <td class="tdSecretaria">@item.codigo</td>
                        <td class="tdSecretaria">@item.descricao</td>
                        <td class="tdSecretaria">
                            <div class="IconesContainerSecretaria">
                                <img class="iconelixo" src="imagens/trash-solid.svg"/>
                                <div class="Icone2Secretaria">
                                </div>
                            </div>
                        </td>
                    </tr>
               
                }
            </tbody>

        
        </table>
    </div>
    <div class="container3Secretaria">
        <div>
            <button class="btnSecretaria BtnAzulColorSecretaria">
                Voltar
            </button>
        </div>
    </div>
</div>

